.filter-group {
    font: 12px;
    font-weight: 600;
    border-radius: 3px;
    color: #333;
}

.filter-group input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type=checkbox] {
    display: none;
}

.filter-group input[type=checkbox] + label {
    background-color: #eee;
    display: block;
    cursor: pointer;
    padding: 3px;
}

.filter-group input[type=checkbox] + label {
    background-color: #eee;
    text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
    background-color: white;
}

.filter-group input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}
