/* Top Level */
html {
  margin:0;
  padding:0;
}

#orbitist-watermark {
  position: absolute;
  right: 10px;
  bottom: 60px;
  width: 100px;
  opacity: 0.6;
  z-index: 1;
}
#orbitist-watermark:hover {
  opacity: 1;
}

#orbitist-key {
  position: absolute;
  left: 10px;
  bottom: 60px;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  padding: 0 5px;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
#orbitist-key img {
  height: 10px;
}
#orbitist-key p {
  margin: 0;
  font-size:12px;
  font-weight: 600;
}

/* Pulsate Class */
.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/* Panes */
.map {
  position:fixed;
  top:0;
  bottom:0;
  left: 0;
  width: 100%;
  z-index:1;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.map-info {
  position:fixed;
  top:0;
  bottom:0;
  left:100%;
  width:100%;
  min-height: 100%;
  z-index:4;
  background-color: white;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
}
.map-info img {
  max-width: 100%;
}
.map-info-body {
  padding: 0 10px 75px;
}

.author-profile-link {
  min-height: 75px;
  padding: 10px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.author-profile-link img {
  width: 75px;
  float: right;
  border-radius: 50px;
}

.map-list {
  position:fixed;
  top:0;
  bottom:0;
  left:-100%;
  width:100%;
  min-height: 100%;
  z-index:4;
  background-color: white;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
.map-list hr {
  margin: 0;
  color: rgba(255, 255, 255, 0.2);
}
.map-list-item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
#map-reset, #map-reset-bottom {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#map-reset:hover, #map-reset-bottom:hover {
  background-color: rgba(255, 255, 255, 1);
}
#map-reset p, #map-reset-bottom p {
  margin-left: 0;
  margin-top: 4px;
  text-align: center;
  font-size: 20px;
  color: #333;
}
.map-list-item img {
  float: right;
  border-radius: 4px;
  width: 80px;
  padding: 10px;
}
img.propertyCategoryImage {
  width: 15px;
  float: left;
  padding: 0 5px 0 0;
}

.map-list-item p {
  color: #eee;
  font-size: 12px;
  padding: 0 10px;
}

.map-help {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  border-radius: 30px;
  z-index: 3;
  padding: 5px 10px;
  max-width: calc(100% - 80px);
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
.map-help:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Zoom Controls */
.mapboxgl-ctrl-group {
  border-radius: 25px;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.9);
}
.mapboxgl-ctrl-group:hover {
  background: rgba(255, 255, 255, 1);
}
.mapboxgl-ctrl-group > button {
  width: 35px;
  height: 35px;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
  background-size: 28px;
  background-position-x: 3px;
  background-position-y: 3px;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > div.arrow {
  width: 19px;
  height: 19px;
  margin: 8px;
}

/** Map Info Pane and Buttons **/
/* Toggle Button */
.control {
  z-index:3;
  width:105px;
  height:35px;
  background-color:rgba(255, 255, 255, 0.9);
  border-radius:25px;
  font-size:12px;
  text-align: center;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
.control:hover {
  background-color:rgba(255, 255, 255, 1);
}

.control i {
  padding-top:12px;
}

.map-geolocate {
  position:fixed;
  width: 35px;
  bottom: 20px;
  right:calc(50% + 3px);
  font-size: 16px;
}
.map-geolocate i {
  padding-top: 10px;
}

.map-reset {
  position:fixed;
  width: 35px;
  bottom: 20px;
  right:calc(50% - 38px);
  font-size: 16px;
}
.map-reset i {
  padding-top: 10px;
}

@media (max-width: 315px) {
  .map-reset, .map-geolocate {
    display:none;
  }
}

.map-info-toggle {
  position:fixed;
  bottom:20px;
  right:10px;
  z-index: 3;
}

.map-list-toggle {
  position:fixed;
  bottom:20px;
  left:10px;
  z-index: 3;
}

.map-toggle-info {
  position:fixed;
  bottom:20px;
  left:calc(100% + 10px);
  z-index: 5;
}

.map-toggle-list {
  position:fixed;
  bottom:20px;
  right:calc(100% + 10px);
  z-index: 5;
}

.map-fullscreen-toggle {
  position:fixed;
  bottom:20px;
  width: 35px;
  right:120px;
  z-index: 3;
}
